.instrument {
	display: flex;
	@media only screen and (max-width: $bp-sm) {
		flex-direction: column;
	}
	&__details {
		text-align: center;
		padding: 0 1.5rem;
		@media only screen and (max-width: $bp-sm) {
			&:not(:last-child) {
				margin-bottom: 5rem;
			}
		}
	}
	&__icon {
		width: 100px;
		height: 100px;
		fill: $color-primary;
		margin-bottom: 0.5rem;
	}

	&__title {
		font-size: 3rem;
		font-weight: 100;
	}
	&__text {
		display: inline-block;
		font-size: 1.5rem;
	}
}
