body {
	font-family: "Roboto";
	font-weight: 200;
	line-height: 1.7;
	box-sizing: border-box;
}

.heading-primary {
	color: $color-white;
	font-size: 8rem;
	font-weight: 700;
	text-align: center;
	letter-spacing: 0.5rem;
	@media only screen and (max-width: $bp-md) {
		font-size: 6rem;
	}
	@media only screen and (max-width: $bp-sm) {
		font-size: 5rem;
	}
}
.heading-secondary {
	color: $color-black;
	font-size: 4rem;
	font-weight: 300;
	text-align: center;
	z-index: 2;
	position: relative;
}

.heading-tertiary {
	font-size: 3rem;
	font-weight: 300;
}

.heading-quarternary {
	color: $color-white;
	font-size: 3rem;
	font-weight: 300;
	text-align: center;
}
